<div class="row">
  <div class="small-12 columns">
  <div id="main-title">
    <p>CORE Gaming</p>
  </div>


  <h4>19 N Broadway, Salem, NH 03079</h4>
  <h4>(603) 458-5791</h4>

  <p>Store Hours:</p>
  <ul>
    <% @hours.each do |day| %>
    <li><%= day[0] %>: <%= day[1] %></li>
    <% end %>
  </ul>
  </div>
</div>
