body {
  background-image: url('retrobackground.jpg');
}

#main-title {
  width:13em;
  height: 6em;
  background:white;
  text-align:center;
  -webkit-border-radius: 180px;
  -moz-border-radius: 180px;
  border-radius: 180px;

  border:red 8px solid;
  font-family: 'Audiowide', cursive;
}

.otherfont {
  font-family: 'Architects Daughter', cursive;
}

#test {
  border:red 1px solid;
}
